.acrylic {
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(20px) saturate(125%);
    -webkit-backdrop-filter: blur(20px) saturate(125%);
    background-color: rgba(0, 0, 0, 0.3);
}
